footer {
    text-align: center;
    font-size: 20px;
}

#map {
  height: 80%;
  width: 120%;
}

#pac-input {
  width: 45%;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}